# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Venv & build
.env
venv/
env/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Databases
*.db
*.sqlite3

# Alembic
alembic/versions/*.pyc


